body {
  @apply transition-colors transition-opacity bg-primary-1 font-poppins;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

body[data-theme="dark"] {
  background-image: url("/images/pattern-dark.svg");
}
body[data-theme="light"] {
  background-image: url("/images/pattern-light.svg");
}

.layout-container {
  @apply container mx-auto;
}
