@tailwind components;
@tailwind base;

@layer components {
  .glassmorphism {
    @apply border rounded-lg shadow-2xl bg-white/5 border-white/10 shadow-primary-2/5 backdrop-blur-lg;
  }
  .graident {
    @apply text-transparent bg-clip-text bg-gradient-to-t 
  from-primary-gradient1/60 from-10% to-[rgb(var(--primary-2))];
  }
  .layout-container {
    @apply container px-2 mx-auto sm:px-1;
  }
}

@layer base {
  html {
    @apply box-border overflow-x-hidden text-[12px] md:text-[16px];
  }

  body {
    @apply relative overflow-hidden transition-colors transition-opacity text-primary-2 bg-primary-1 font-poppins;
  }

  body::after {
    content: '';
    @apply absolute inset-0 scale-125 lg:translate-x-[100px] w-full h-full bg-center bg-no-repeat bg-cover -z-10;
  }

  body[data-theme='dark']::after {
    background-image: url('/images/pattern-dark.svg');
  }
  body[data-theme='light']::after {
    background-image: url('/images/pattern-light.svg');
  }
}
