@tailwind components;

@layer components {
  .glassmorphism {
    @apply bg-white/5 border h-[540px] border-white/10 shadow-primary-2/5 shadow-2xl backdrop-blur-lg h-[540px] rounded-lg;
  }
}

html {
  @apply box-border overflow-x-hidden text-[9px] sm:text-[16px];
}

body {
  @apply relative overflow-x-hidden transition-colors transition-opacity text-primary-2 bg-primary-1 font-poppins;
}

body::after {
  content: "";
  @apply absolute inset-0 translate-x-[20px] lg:translate-x-[100px] z-0 w-full h-full bg-center bg-no-repeat bg-cover -z-10;
}

body[data-theme="dark"]::after {
  background-image: url("/images/pattern-dark.svg");
}
body[data-theme="light"]::after {
  background-image: url("/images/pattern-light.svg");
}

.layout-container {
  @apply container px-1 mx-auto;
}
